# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


# Output
output/
input/
.idea/





# Unity Gitignore
# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
Quay_Planning_Grid/.utmp/
Quay_Planning_Grid/[Ll]ibrary/
Quay_Planning_Grid/[Tt]emp/
Quay_Planning_Grid/[Oo]bj/
Quay_Planning_Grid/[Bb]uild/
Quay_Planning_Grid/[Bb]uilds/
Quay_Planning_Grid/[Ll]ogs/
Quay_Planning_Grid/[Uu]ser[Ss]ettings/
Quay_Planning_Grid/*.log

# By default unity supports Blender asset imports, *.blend1 blender files do not need to be commited to version control.
Quay_Planning_Grid/*.blend1
Quay_Planning_Grid/*.blend1.meta

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
Quay_Planning_Grid/[Mm]emoryCaptures/

# Recordings can get excessive in size
Quay_Planning_Grid/[Rr]ecordings/

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
Quay_Planning_Grid/[Aa]ssets/Plugins/Editor/JetBrains*
# Jetbrains Rider personal-layer settings
Quay_Planning_Grid/*.DotSettings.user

# Visual Studio cache directory
Quay_Planning_Grid/.vs/

# Gradle cache directory
Quay_Planning_Grid/.gradle/

# Autogenerated VS/MD/Consulo solution and project files
Quay_Planning_Grid/ExportedObj/
Quay_Planning_Grid/.consulo/
Quay_Planning_Grid/*.csproj
Quay_Planning_Grid/*.unityproj
Quay_Planning_Grid/*.sln
Quay_Planning_Grid/*.suo
Quay_Planning_Grid/*.tmp
Quay_Planning_Grid/*.user
Quay_Planning_Grid/*.userprefs
Quay_Planning_Grid/*.pidb
Quay_Planning_Grid/*.booproj
Quay_Planning_Grid/*.svd
Quay_Planning_Grid/*.pdb
Quay_Planning_Grid/*.mdb
Quay_Planning_Grid/*.opendb
Quay_Planning_Grid/*.VC.db

# Unity3D generated meta files
Quay_Planning_Grid/*.pidb.meta
Quay_Planning_Grid/*.pdb.meta
Quay_Planning_Grid/*.mdb.meta

# Unity3D generated file on crash reports
Quay_Planning_Grid/sysinfo.txt

# Mono auto generated files
Quay_Planning_Grid/mono_crash.*

# Builds
Quay_Planning_Grid/*.apk
Quay_Planning_Grid/*.aab
Quay_Planning_Grid/*.unitypackage
Quay_Planning_Grid/*.unitypackage.meta
Quay_Planning_Grid/*.app

# Crashlytics generated file
Quay_Planning_Grid/crashlytics-build.properties

# TestRunner generated files
Quay_Planning_Grid/InitTestScene*.unity*

# Addressables default ignores, before user customizations
Quay_Planning_Grid/ServerData
Quay_Planning_Grid/[Aa]ssets/StreamingAssets/aa*
Quay_Planning_Grid/[Aa]ssets/AddressableAssetsData/link.xml*
Quay_Planning_Grid/[Aa]ssets/Addressables_Temp*
# By default, Addressables content builds will generate addressables_content_state.bin
# files in platform-specific subfolders, for example:
# /Assets/AddressableAssetsData/OSX/addressables_content_state.bin
Quay_Planning_Grid/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting auto-generated files
Quay_Planning_Grid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db
Quay_Planning_Grid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Flow/UnitOptions.db.meta
Quay_Planning_Grid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers
Quay_Planning_Grid/[Aa]ssets/Unity.VisualScripting.Generated/VisualScripting.Core/Property Providers.meta

# Auto-generated scenes by play mode tests
Quay_Planning_Grid/[Aa]ssets/[Ii]nit[Tt]est[Ss]cene*.unity*